.tourism-wrapper
  p While you're in town, here are a few of our favourite things to do!
  .tourism-list
    ul.collapsible.popout(data-collapsible='accordion')
      each tour in tourism
        li
          .collapsible-header= tour.title
          .collapsible-body
            .row.pic-wrapper
              .col.s4
                .hover.card.margin-vertical(id='#{tour.cssId}')
                  .card-image.tourism-card
                    a(href='#{tour.link}', target='_blank')
                      img.responsive-img.tour-img(src='#{tour.img}')
              .col.s6
                p= tour.blurb
                if tour.jeff
                  a.to-the-bot(href='#{tour.img}', target='_blank') See the big picture
              